[sensor]
sensor_name = Sensor 1
i2c_address = 0x39

# gain is high or low
gain = low

# how much brighter is the indicator
sensitivity = 100

#sample period in seconds, sample rate in samples per second
sample_period = 5
sample_rate = 2

#how often to check the indicator, in seconds
poll_interval = 15

#how many poll_intervals must have consecutive blink detections until an alert is sent
consecutive_events = 3

#in case alarm clears itself, how many non-blink poll_intervals must pass to send "all clear" alert
event_clear = 3

#send a reminder alert, if event is still triggerg, every x minutes
repeat_alert_timer = 15






[alertsender]
sendto= e.brian.nass@gmail.com
addr_from = e.brian.nass@gmail.com
subject = Blink Alert
body = Blink alert detected on sensor
smtp_server = smtp-server.austin.rr.com
smtp_user = enass1@austin.rr.com
smtp_password = q1w2e3r4
